<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubs</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes style="width: 100%; background-color: red; color: white">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <a href="javascript:void(0);" onclick="history.back()">Go Back.</a><hr/>
    <h2>List of clubs</h2>
    <ul>
    {% for club in clubs %}
        <li> {{ club["name"] }} - {{ club["points"] }} points </li>
    {% endfor %}
    </ul>
</body>